{% extends 'base.twig' %}
{% block content %}
    <form action="" method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
        <div class="form-group">
            <legend>Add image with caption</legend>
        </div>
            <div class="form-group">
                <label for="inputCaption" class="col-sm-2 control-label">Caption:</label>
                <div class="col-sm-10">
                    <input type="text" name="caption" id="inputCaption" class="form-control" value="" title="">
                </div>
            </div>

        <div class="form-group">
            <label for="inputUpload" class="col-sm-2 control-label">Upload:</label>
            <div class="col-sm-10">
                <input type="file" name="upload" id="inputUpload" class="form-control" value="" required="required" pattern="" title="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>
{% endblock %}
